@page
@model RazorPagesApp.Pages.SubmissionModel
@{
	ViewData["Title"] = "Submissions";
}

<h1>Submit Songs</h1>

<form method="post">
	<div class="form-group">
		<input type="text" placeholder="Submission Type" asp-for="tempSubmission.Submission_Type" />
		<span asp-validation-for="tempSubmission.Submission_Type" class="text-danger"></span>
	</div>
	<div class="form-group">
		<input type="text" placeholder="Song" asp-for="tempSubmission.Submission_Song" />
		<span asp-validation-for="tempSubmission.Submission_Song" class="text-danger"></span>
	</div>
	<div class="form-group">
		<input type="text" placeholder="Artist" asp-for="tempSubmission.Submission_Artist" />
		<span asp-validation-for="tempSubmission.Submission_Artist" class="text-danger"></span>
	</div>
	<div class="form-group">
		<input type="text" placeholder="Extra Notes" asp-for="tempSubmission.Submission_Notes" />
		<span asp-validation-for="tempSubmission.Submission_Notes" class="text-danger"></span>
	</div>
	<div class="form-group">
		<input type="text" placeholder="Email" asp-for="tempSubmission.Submission_Email" />
		<span asp-validation-for="tempSubmission.Submission_Email" class="text-danger"></span>
	</div>
	<button type="submit">Submit</button>
</form>

@{
	if(Model.tempSubmission != null && Model.tempSubmission.Feedback != null)
	{
		<h2>Results:</h2>
		<p>@Model.tempSubmission.Feedback</p>
	}
}